
*{
    margin: 0;
}
.nav_bar{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    font-size: 10px;
}
.container_create_new_task{
    position: fixed;
    top: auto;
    right: 0;
    background-color: red;
    display: flex;
    align-items: center;
    /* padding: 25px;
    padding-right: 0; */
}
.container_tasks{
    background-color: saddlebrown;
    height: 100vh;
}
.create_new_task{
    padding: 5px;
    flex-direction: column;
    display: none;
}
.create_new_task > *{
    margin: 5px;
}
